In [1]:
import pickle
import pandas as pd 
from pycaret.regression import load_model

model = load_model('../best_model_d')

Transformation Pipeline and Model Successfully Loaded

In [2]:
df = pd.read_csv('../Datasets/source_data.csv')

In [3]:
sample_df = df.drop('activity', axis = 1)

In [4]:
preds = model.predict(sample_df)
preds

array([0, 0, 4, ..., 5, 5, 5])

In [5]:
df['preds'] = preds

In [6]:
x = {'Downstairs': 0, 'Jogging': 1, 'Sitting': 2, 'Standing': 3, 'Upstairs': 4, 'Walking': 5}

inv_dict = {v:k for k,v in x.items()}
inv_dict

{0: 'Downstairs',
 1: 'Jogging',
 2: 'Sitting',
 3: 'Standing',
 4: 'Upstairs',
 5: 'Walking'}

In [7]:
df['preds'] = df['preds'].map( inv_dict ).astype(str)

In [8]:
df

          activity        timestamp  x-axis  y-axis    z-axis       preds
0       Downstairs   25059212295000   -0.99    7.46 -0.844462  Downstairs
1       Downstairs  131220641634000   14.10   11.50 -3.410000  Downstairs
2       Downstairs  119022261542000   -1.88   13.59  0.150000    Upstairs
3       Downstairs    8984652293000   11.41    5.86  1.498238  Downstairs
4       Downstairs    2458592265000    2.79   16.32  1.184970  Downstairs
...            ...              ...     ...     ...       ...         ...
283453     Walking    1153732249000   -2.64    7.55 -2.683209     Walking
283454     Walking     528432323000   13.02   -5.05  2.150000     Walking
283455     Walking  101967792609000   13.48    4.56  4.590000     Walking
283456     Walking     512302257000   -3.45    7.78 -4.562817     Walking
283457     Walking  110309221595000   -2.96   10.53 -3.170000     Walking

[283458 rows x 6 columns]

In [9]:
df[df['activity']==df['preds']]

          activity        timestamp  x-axis  y-axis    z-axis       preds
0       Downstairs   25059212295000   -0.99    7.46 -0.844462  Downstairs
1       Downstairs  131220641634000   14.10   11.50 -3.410000  Downstairs
3       Downstairs    8984652293000   11.41    5.86  1.498238  Downstairs
4       Downstairs    2458592265000    2.79   16.32  1.184970  Downstairs
5       Downstairs    3104102276000    0.08   13.18  3.568531  Downstairs
...            ...              ...     ...     ...       ...         ...
283453     Walking    1153732249000   -2.64    7.55 -2.683209     Walking
283454     Walking     528432323000   13.02   -5.05  2.150000     Walking
283455     Walking  101967792609000   13.48    4.56  4.590000     Walking
283456     Walking     512302257000   -3.45    7.78 -4.562817     Walking
283457     Walking  110309221595000   -2.96   10.53 -3.170000     Walking

[275110 rows x 6 columns]